{% extends 'main/header.html' %}

{% block content %}

	<div class = "container">
		<form method = "POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button class="btn waves-effect waves-light" type="submit" name="action">LogIn<i class="material-icons right">input</i>
  		</button>
		</form>
		Don't have an account? <a href="{% url 'main:register' %}"><strong>Register Here <i class="material-icons">call_made</i></strong>
		<!-- use target="blank" attribute to open register in new tab -->
	</div>

{% endblock %}
